/* reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
}

/* Header left side */

.header {
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 40px;
    margin: 10px auto;
    padding: 0;
}

/* Header navigation on the right side */

.nav {
    width: 40%;
}

.nav__item {
    display: flex;
    margin: 20px;
}

.nav__link a {
    margin-right: 20px;
    font-size: 18px;
    color: white;
}

.nav__link:hover {
    text-decoration: underline;
}

/* Main section */

.section {
    width: 100%;
    margin: 60px auto;
}

.section__title {
    text-align: center;
    border: 1px solid black;
}

.items {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.section__item {
    width: 20%;
    flex-wrap: wrap;
}

.section__item:first-child {
    padding-left: 20px;
}

.section__item-title {
    margin: 10px 0;
    color: black;
}

.section__item-description {
    margin: 20px 0;

}

.section__link {
    color: black;
}

.section__link:hover {
    text-decoration: underline;
}

/* About page */

main p {
    margin: 20px;
    font-size: 20px;
}

/* recipes page */