/* reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

a {
    text-decoration: none;
}

body {
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: white;
}

/* Header left side */

.header {
    margin: 0 auto;
    max-width: 1200px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 40px;
    margin: 10px auto;
    padding: 0;
}

/* Header navigation on the right side */

.nav {
    width: 40%;
}

.nav__item {
    display: flex;
    margin: 20px;
}

.nav__link a {
    margin-right: 20px;
    font-size: 18px;
    color: white;
}

.nav__link:hover {
    text-decoration: underline;
}